In [1]:
#Import dependencies
import pandas as pd

In [3]:
#Read in employment and unemployment datasets to pandas dataframe
employment_df = pd.read_csv('./Datasets/california_employment_data.csv')
employment_df

,Area Type,Area Name,Year,Month,Date,Series Code,Industry Title,Seasonally Adjusted (Y/N),Current Employment
0,County,Alameda County,2014,January,01/1/2014,30000000,Manufacturing,N,65300
1,County,Alameda County,2014,January,01/1/2014,41000000,Wholesale Trade,N,36700
2,County,Alameda County,2014,January,01/1/2014,43000000,"Transportation, Warehousing, and Utili...",N,24400
3,County,Alameda County,2014,January,01/1/2014,50000000,Information,N,13900
4,County,Alameda County,2014,January,01/1/2014,60550000,Management of Companies and Enterprises,N,18400
...,...,...,...,...,...,...,...,...,...
492431,State,California,2024,March,03/1/2024,43484000,Truck Transportation,N,148700
492432,State,California,2024,March,03/1/2024,55522100,Depository Credit Intermediation i...,N,126700
492433,State,California,2024,March,03/1/2024,55000000,Financial Activities,N,801200
492434,State,California,2024,March,03/1/2024,50517111,Wired Telecommunications Carriers,N,36600
492435,State,California,2024,March,03/1/2024,50516200,Media Streaming Distribution Servi...,N,65600