In [22]:
#Import dependencies
import pandas as pd

In [28]:
#Read in employment and unemployment datasets to pandas dataframe
try:
    employment_df = pd.read_csv('../source_data/california_employment_data.csv')
    unemployment_df = pd.read_csv('../source_data/california_unemployment_data.csv')
    unemployment_df = unemployment_df.drop(unemployment_df[unemployment_df["Area Type"]=="Sub-County Place"].index)
    employment_df = employment_df.drop(employment_df[employment_df["Seasonally Adjusted (Y/N)"] == "Y"].index)
    unemployment_df = unemployment_df.drop(unemployment_df[unemployment_df["Seasonally Adjusted(Y/N)"]=="Y"].index)
    unemployment_df = unemployment_df.drop('Seasonally Adjusted(Y/N)', axis = 1)
    employment_df = employment_df.drop("Seasonally Adjusted (Y/N)", axis = 1)
    employment_df = employment_df.drop("Series Code", axis = 1)
    unemployment_df = unemployment_df.drop("Status", axis = 1)
    unemployment_df = unemployment_df.drop(unemployment_df[unemployment_df["Year"]<2014].index)
    updated_employment_data = pd.merge(employment_df, unemployment_df, on = ['Area Type','Area Name', "Year", "Month"], how = "left")
    updated_employment_data = updated_employment_data.drop(['Date_Numeric'], axis = 1)
    updated_employment_data = updated_employment_data.rename(columns={"Current Employment":"Industry Current Employment",
                                                                  "Employment":"Regional Employment",
                                                                  "Unemployment":"Regional Unemployment",
                                                                  "Unemployment Rate": "Regional Unemployment Rate",
                                                                  "Labor Force": "Regional Labor Force"})
    updated_employment_data.to_csv("../data/updated_employment_data.csv")
    updated_csv = updated_employment_data
    county_employment_data = updated_csv.loc[updated_csv["Area Type"] == "County"]
    state_employment_data = updated_csv.loc[updated_csv["Area Type"] == "State"]
    metropolitan_area_data = updated_csv.loc[updated_csv["Area Type"] == "Metropolitan Area"]
    county_employment_data.to_csv("../data/county_employment_data.csv")
    state_employment_data.to_csv("../data/state_employment_data.csv")
    metropolitan_area_data.to_csv("../data/metropolitan_area_data.csv")
except FileNotFoundError:
        print("Data files not found")

In [30]:
# Sort industries based on employment rates
county_unemployment_sorted_data = county_employment_data.sort_values(by='Regional Unemployment Rate')

# Get the Top 10 and Bottom 10 industries
top_10 = sorted_data.tail(10)  # Top 10 industries
bottom_10 = sorted_data.head(10)  # Bottom 10 industries
top_10_df=pd.DataFrame(top_10)
bottom_10_df=pd.DataFrame(bottom_10)

print("Top 10 Industries based on Unemployment Rate:")
top_10_df[['Year','Month','Industry Title', 'Regional Unemployment Rate']].reset_index(drop=True)
# print(top_10[['Industry Title', 'Regional Unemployment Rate']])
# print("\nBottom 10 Industries based on Employment Rate:")
# bottom_10_df[['Industry Title', 'Regional Unemployment Rate']]
# print(bottom_10[['Industry Title', 'Regional Unemployment Rate']])

[2014 2015 2016 2017 2018 2019 2020 2021 2022 2023 2024]
Top 10 Industries based on Unemployment Rate:

,Year,Month,Industry Title,Regional Unemployment Rate
0,2014,August,Total Farm,29.0
1,2014,August,"Mining, Logging and Construction",29.0
2,2014,August,Manufacturing,29.0
3,2014,August,Non-Durable Goods,29.0
4,2014,August,Wholesale Trade,29.0
5,2014,August,Local Government,29.0
6,2014,August,Government,29.0
7,2014,August,Special Districts plus Tribes,29.0
8,2014,August,Total State and Local Government,29.0
9,2014,August,Local Government,29.0

In [25]:
print("\nBottom 10 Industries based on Unemployment Rate:")
bottom_10_df[['Year','Month','Industry Title', 'Regional Unemployment Rate']].reset_index(drop=True)

Bottom 10 Industries based on Unemployment Rate:

,Year,Month,Industry Title,Regional Unemployment Rate
0,2019,May,Finance and Insurance,1.8
1,2019,April,Total Farm,1.8
2,2019,April,Total Wage and Salary,1.8
3,2019,April,Local Government,1.8
4,2019,April,Government,1.8
5,2019,April,Accommodation and Food Services,1.8
6,2019,April,Federal Government,1.8
7,2019,April,Other Services,1.8
8,2019,April,"Arts, Entertainment, and Recreation",1.8
9,2019,April,Leisure and Hospitality,1.8